
.transaction-list-container {
	min-width: 300px;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	padding: 0px 0.5px;
    padding-top: 10px;
	margin: 0px;
    border-radius: 20px;
}

.transaction-list {
	flex: 1;
}