AWS_KMS_KEY_ARN=___cmk_key_id
TWOFA_API_ACCESS_KEY=___two_fa_public_key
TWOFA_API_SECRET_KEY=___two_fa_secret_key
TWOFA_API_URL=https://p1te4k01x7.execute-api.us-east-2.amazonaws.com/default/prod-totp-v2/
AWS_ACCESS_KEY_ID=___aws_access_key
AWS_SECRET_ACCESS_KEY=___aws_access_secret_key
AWS_DEFAULT_REGION=us-east-2
