$transition : .5s;
$width : 4rem;
$radius : 1rem;
$angle : 35deg;
$bg : whitesmoke;
$buttonbg : dodgerblue;

.button {
  background: $buttonbg;
  padding: 1rem;
  border-radius: $width/2;
  background: $buttonbg;
  cursor: pointer;
  transition: $transition/2;
  margin: 2rem;

  &:active {
    background: darken($buttonbg, 20%);
    transition: 0;
  }
}

.arrows {
  position: relative;
  background: $bg;
  width: $width/1.2;
  height: $width/10;  
  transition: $transition;
  border-radius: $radius;
  transform-origin: right center;

  &:before { transform: rotate(-$angle); }
  &:after { transform: rotate($angle); }

  &:before, &:after {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      background: $bg;
      width: $width/3;
      height: $width/10;
      transform-origin: $width/20 center;
      transition: $transition;
      border-radius: $radius;
    }
}

.switch.right {
  .arrows {  
    &:before, &:after {
      left: $width - $width/5;
    }
    &:before { transform: rotate($angle*4); }
    &:after { transform: rotate(-$angle*4); }
  }
}

.flip { transform: translateZ(1rem) perspective(600); }

.flip.right {
  transform: translateZ(1rem) perspective(600) rotateY(180deg);  
}
