
.crucible-list-container {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 16px;
}

.crucible-heading-container {
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 4px 8px 4px 8px;
	display: flex;
	flex-direction: row;
}

.crucible-heading-container div {
	padding-left: 16px;
}

.crucible-list-items-container {
	flex: 1;
	width: 100%;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

.crucible-box-container {
	width: 600px;
	/* height: 400px; */
	border-radius: 0;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	margin-right: 16px;
	margin-bottom: 16px;
	padding: 16px;
}

.crucible-box-row {
	display: flex;
	justify-content: space-between;
	min-height: 40px;
}

.chain-action-dlg-container {
	padding: 16px;
}